<!DOCTYPE html>
<html lang="es" class="mdc-typography">
<head>
<meta charset="UTF-8">
<meta name="description" content="Sistema de evaluación de desempeño docente de la Universidad Metropolitana">
<meta name="keywords" content="evaluacion docente, evaluacion unimet, docentes unimet, eddunimet">

<!-- Estilos -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../public/css/material-components-web.css" rel="stylesheet">
<link href="../public/css/material-components-web.min.css" rel="stylesheet">
<title>Evaluación Desempeño Docente Unimet</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <!--<a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>-->
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">refresh</i></a></li>
         <li><a class="waves-effect waves-light botonEnNavbar" href="/logout">Desconectarse</a></li>
         <li><a class="waves-effect waves-light botonEnNavbar" href="/login">resultados de las evaluaciones</a></li>
      </ul>
    </div>
  </nav>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Perfil del Docente</h1>
        <div class="row center">
          <h5 class="h5desc">Sistema de evaluación de desempeño del Docente</h5>
        </div>
        <div class="row center">
          <a href="/login" id="botonLogin" class="btn-large waves-effect waves-light teal lighten-1">Autoevaluación</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../public/images/panounimet.jpg" alt="Unsplashed background img 1"></div>
    
</div>

 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Fisica</a></li>
        <li class="tab col s3"><a href="#test2">Matematica</a></li>
        
      </ul>
    </div>
    <div id="test1" class="col s12">sección 1</div>
    <div id="test2" class="col s12">sección 1</div>
    
    
  </div>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
       <h5 class="white-text">Universidad Metropolitana</h5>
        <p class="grey-text text-lighten-4">Proyecto de Sistemas de Información y Bases de Datos</p>
      </div>
    <div class="col l3 s12">
    <h5 class="white-text">Integrantes</h5>
    <ul>
      <li><a class="white-text" >Carrione, Willmer</a></li>
      <li><a class="white-text" >Fontanella, Maurizio</a></li>
      <li><a class="white-text" >Maldonado, Carlos</a></li>
    </ul>
    </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" >Guerrero, Alejandra</a></li>
            <li><a class="white-text" >Portal, Luis</a></li>
            <li><a class="white-text" >Torcatt, Héctor</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Cualquier intento de plagio es penado por la ley: <a class="brown-text text-lighten-3" href="http://www.unimet.edu.ve">Universidad Metropolitana</a>
      </div>
</div>
</footer>

<!-- Scripts -->
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/material-components-web.js"></script>
<script src="../public/js/material-components-web.min.js"></script>
<script src="../public/js/materialize.js"></script>
<script src="../public/js/materialize.min.js"></script>
<script src="../public/js/init.js"></script>

<script>mdc.autoInit()</script>
</body>
</html>